


{% extends "base.html" %}
{% block title %}Chicago Art Gallery Persistence: Gallery outcomes that match "{{outcome}}"{% endblock %}

    {% block content %}

<div style="margin-top:40px; margin-left:180px;"><h2>Galleries whose outcomes match "{{outcome}}"</h2>

{% if search_results %}

    <ol>
    {% for Galleries1990 in search_results %}
    <li><a href="/{{Galleries1990.rowid}}/">{{Galleries1990.name}}</a></li>
    {% endfor %}
    </ol>
 <br>
    <p>Search again or <a href="/galleries/">return to the main page</a>.</p>
        <form method='post' action='search_outcome/'><label for="outcome"><strong>Gallery's outcome, as of 2010:</strong></label>

        <select name="outcome">
        <option value="">None selected</option>
        <option value="closed">Closed</option>
        <option value="moved in Chicago">Moved in Chicago</option>
        <option value="moved out of Chicago">Moved out of Chicago</option>
        <option value="same location">Same location</option>
        </select>
        <input type='submit' value='Search by outcome' name='search'></form><br>
    
    
{% else %}
    <p>Sorry, no results available. Search or <a href="/galleries/">go back to the home page</a>.</p>
        <form method='post' action='search_outcome/'><label for="outcome"><strong>Gallery's outcome, as of 2010:</strong></label>

        <select name="outcome">
        <option value="">None selected</option>
        <option value="closed">Closed</option>
        <option value="moved in Chicago">Moved in Chicago</option>
        <option value="moved out of Chicago">Moved out of Chicago</option>
        <option value="same location">Same location</option>
        </select>
        <input type='submit' value='Search by outcome' name='search'></form><br>

{% endif %}
{% endblock %}
