{% extends "base.html" %}
{% block title %}Chicago Art Gallery Persistence:{{Gallery1990.name}} {% endblock %}

{% block bodytag %}<body onload="load()" onunload="GUnload()">{% endblock %}

{% block content %}<div style="margin-left:180px;margin-top:0px; width:50%; float:left"><p style="font-size:32"><strong>{{Gallery1990.name}}</a></strong> </p>

<p style="font-size:18">In 1990, it was located at {{Gallery1990.address_number}} {{Gallery1990.address_direction}}. {{Gallery1990.address_street}} {{Gallery1990.address_type}}., and owned by {{Gallery1990.director}}.</p> 

<p style="font-size:18">{{Gallery1990.name}} was founded in {{Gallery1990.start_year}} and remained open until {{Gallery1990.end_year}}.  Some of the categories it specialized in included:<ul>

    {% ifnotequal Gallery1990.painting "n" %}
    <li> {{Gallery1990.painting}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.sculpture "n" %}
    <li> {{Gallery1990.sculpture}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.three_d_construction "n" %}
    <li> {{Gallery1990.three_d_construction}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.ceramics "n" %}
    <li> {{Gallery1990.ceramics}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.glass "n" %}
    <li> {{Gallery1990.glass}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.metal "n" %}
    <li> {{Gallery1990.metal}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.prints "n" %}
    <li> {{Gallery1990.prints}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.photography "n" %}
    <li> {{Gallery1990.photography}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.lithography "n" %}
    <li> {{Gallery1990.lithography}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.drawing "n" %}
    <li> {{Gallery1990.drawing}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.etching "n" %}
    <li> {{Gallery1990.etching}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.jewelry "n" %}
    <li> {{Gallery1990.jewelry}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.serigraphy "n" %}
    <li> {{Gallery1990.serigraphy}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.wearables "n" %}
    <li> {{Gallery1990.wearables}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.monoprints "n" %}
    <li> {{Gallery1990.monoprints}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.accessories "n" %}
    <li> {{Gallery1990.accessories}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.cards "n" %}
    <li> {{Gallery1990.cards}}</li>
    {% endifnotequal %}
    

    {% ifnotequal Gallery1990.pastels "n" %}
    <li> {{Gallery1990.pastels}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.furniture "n" %}
    <li> {{Gallery1990.furniture}}</li>
    {% endifnotequal %}
        
    {% ifnotequal Gallery1990.folk_art "n" %}
    <li> {{Gallery1990.folk_art}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.graphics "n" %}
    <li> {{Gallery1990.graphics}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.fiber "n" %}
    <li> {{Gallery1990.fiber}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.handcrafts "n" %}
    <li> {{Gallery1990.handcrafts}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.mixed_media "n" %}
    <li> {{Gallery1990.mixed_media}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.all "n" %}
    <li> {{Gallery1990.all}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.tapestry "n" %}
    <li> {{Gallery1990.tapestry}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.clay "n" %}
    <li> {{Gallery1990.clay.strip}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.wood "n" %}
    <li> {{Gallery1990.wood}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.kaleidoscopes "n" %}
    <li> {{Gallery1990.kaleidoscopes}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.silkscreen "n" %}
    <li> {{Gallery1990.silkscreen}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.mobiles "n" %}
    <li> {{Gallery1990.mobiles}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.assemblage "n" %}
    <li> {{Gallery1990.assemblage}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.neon "n" %}
    <li> {{Gallery1990.neon}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.collage "n" %}
    <li> {{Gallery1990.collage}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.enamel "n" %}
    <li> {{Gallery1990.enamel}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.porcelain "n" %}
    <li> {{Gallery1990.porcelain}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.books "n" %}
    <li> {{Gallery1990.books}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.fresco "n" %}
    <li> {{Gallery1990.fresco}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.pottery "n" %}
    <li> {{Gallery1990.pottery}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.weaving "n" %}
    <li> {{Gallery1990.weaving}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.basketry "n" %}
    <li> {{Gallery1990.basketry}}</li>
    {% endifnotequal %}

    {% ifnotequal Gallery1990.leather "n" %}
    <li> {{Gallery1990.leather}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.batik "n" %}
    <li> {{Gallery1990.batik}}</li>
    {% endifnotequal %}
    
    {% ifnotequal Gallery1990.paper "n" %}
    <li> {{Gallery1990.paper}}</li>
    {% endifnotequal %}
    </ul>
    
    {% ifnotequal Gallery1990.outcome "closed" %}
     <br><br>The gallery has {{Gallery1990.outcome}} since its inception. 
    {% endifnotequal %}
    </p> 

{% if Gallery1990.notes %}

    <p style="font-size:18">Additional notes:
        <ul>
            <li> {{Gallery1990.notes}}</li>
        </ul>
    </p>
        
    {% else %}
{% endif %}

<p><A HREF="javascript:javascript:history.go(-1)">Click here to go back to search results.</A></p></div>
        
    
<div style="margin-left: 65%; margin-top:42px;">    
    <img src= "http://maps.google.com/maps/api/staticmap?center={{Gallery1990.lat}},{{Gallery1990.lan}}&zoom=15&size=400x400&
markers=color:red|{{Gallery1990.lat}},{{Gallery1990.lan}}&sensor=true" /><br><br><small>Location of gallery in 1990.</small>
{% endblock %}