{% extends "base.html" %}
{% block title %}Chicago Art Gallery Persistence: Names that match "{{name}}"{% endblock %}

	<body><div style="margin-top:70px; margin-left:180px;"><p><a href="/galleries/">Back to main page </a></div>

<div style="margin-top:40px; margin-left:180px;"><h2>Galleries whose names match ""{{name}}""</h2>

{% if search_results %}

    <ol>
    {% for Galleries1990 in search_results %}
    <li><a href="/{{galleries1990.rowid}}">{{Galleries1990.name}}</a></li>
    {% endfor %}
    </ol>
 
    <p>Search again or <a href="/galleries/">return to the main page</a>.</p>
	<form method='post' action='search_name/'>	<label for="name"><strong>Gallery name:</strong></label>

			<input type='text' name='name'>
			<input type='submit' value="Search by name" name='search'></form><br>
    
{% else %}
    <p>Sorry, no results available. Search or <a href="http://minkoff.webfactional.com/oscars/actors/">go back to the home page</a>.</p>
	<form method='post' action='search/'>
		    <input type='text' name='term' value=''>
		<input type='submit' label='Search' name='search'>
		</form> <br/><br/>
{% endif %}
</body>
</html>