{% extends "base.html" %}
{% block title %}Chicago Art Gallery Persistence: Galleries that closed between {{closed_1}} and {{closed_2}}{% endblock %}

{% block content %}

<div style="margin-top:40px; margin-left:180px;"><h2>Galleries that closed between {{closed_1}} and {{closed_2}}</h2>

{% if search_results %}

    <ol>
    {% for Gallery1990 in search_results %}
    <li><a href="/{{Gallery1990.rowid}}/">{{Gallery1990.name}}</a></li>
    {% endfor %}
    </ol>
 <br>
    <p>Search again or <a href="/galleries/">return to the main page</a>.</p>
            <form method='post' action='search_closed/'><label for="closed_between"><strong>Gallery closed between:</strong></label>

            <input type='text' size='4' name='closed_1' value='1990'> and <input type='text' size='4' name='closed_2' value='2010'>
            <input type='submit' value="Search by closing date" name='search'></form><br>
    
    
{% else %}
    <p>Sorry, no results available. Search or <a href="/galleries/">go back to the home page</a>.</p>
            <form method='post' action='search_closed/'><label for="closed_between"><strong>Gallery closed between:</strong></label>

            <input type='text' size='4' name='closed_1' value='1990'> and <input type='text' size='4' name='closed_2' value='2010'>
            <input type='submit' value="Search by closing date" name='search'></form><br>
{% endif %}
{% endblock %}
