{% extends "base.html" %}
{% block title %}Chicago Art Gallery Persistence: Zipcodes that match "{{zipcode}}"{% endblock %}

	{% block content %}

<div style="margin-top:40px; margin-left:180px;"><h2>Galleries whose zipcodes match "{{zipcode}}"</h2>

{% if search_results %}

    <ol>
    {% for Galleries1990 in search_results %}
    <li><a href="/{{Galleries1990.rowid}}/">{{Galleries1990.name}}</a></li>
    {% endfor %}
    </ol>
 <br>
    <p>Search again or <a href="/galleries/">return to the main page</a>.</p>
	<form method='post' action='search_zipcode/'><label for="zipcode"><strong>Zipcode, in 1990:</strong></label>

	<select name="zipcode">
	<option value="">none selected</option>
	<option value="60604">60604</option>
	<option value="60605">60605</option>
	<option value="60607">60607</option>
	<option value="60608">60608</option>
	<option value="60610">60610</option>
	<option value="60611">60611</option>
	<option value="60613">60613</option>
	<option value="60614">60614</option>
	<option value="60615">60615</option>
	<option value="60622">60622</option>
	<option value="60632">60632</option>
	<option value="60640">60640</option>
	<option value="60646">60646</option>
	<option value="60647">60647</option>
	<option value="60657">60657</option>

	</select>
	<input type='submit' value='Search by zipcode' name='search1'></form>
    
{% else %}
    <p>Sorry, no results available. Search or <a href="/galleries/">go back to the home page</a>.</p>
	<form method='post' action='search_zipcode/'><label for="zipcode"><strong>Zipcode, in 1990:</strong></label>

	<select name="zipcode">
	<option value="">none selected</option>
	<option value="60604">60604</option>
	<option value="60605">60605</option>
	<option value="60607">60607</option>
	<option value="60608">60608</option>
	<option value="60610">60610</option>
	<option value="60611">60611</option>
	<option value="60613">60613</option>
	<option value="60614">60614</option>
	<option value="60615">60615</option>
	<option value="60622">60622</option>
	<option value="60632">60632</option>
	<option value="60640">60640</option>
	<option value="60646">60646</option>
	<option value="60647">60647</option>
	<option value="60657">60657</option>

	</select>
	<input type='submit' value='Search by zipcode' name='search1'></form>
{% endif %}
{% endblock %}
