{% if search_results %}
{%if search_results=1}

    <ol>
    {% for galleries1990 in search_results %}
    <li><a href="http://minkoff.webfactional.com/oscars/galleries1990s/{{galleries1990.id}}">{{galleries1990.name}}, {{galleries1990.galleries1990_first}} ({{galleries1990.award_age}})</a></l
    {% endfor %}
    </ol>
 
    <p>Search again or <a href="http://minkoff.webfactional.com/oscars/galleries1990s/">return to the main page</a>.</p>
<form method='post' action='search/'>
	    <input type='text' name='name' value=''>
	<input type='submit' name='search'>
	</form> <br/><br/>
    
{% else %}
    <p>Sorry, no results available. Search again or <a href="http://minkoff.webfactional.com/oscars/galleries1990s/">go back to the home page</a>.</p>
	<form method='post' action='search/'>
		    <input type='text' name='name' value=''>
		<input type='submit' label='Search' name='search'>
		</form> <br/><br/>
{% endif %}